{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <!-- <img src=" {% static 'media/images/takeahike-aboutme-man-1869135.webp' %}" class="about-me" alt="Group of people treeking in a line over an icy landscape"> -->
    <img src="https://res.cloudinary.com/dik6gpx6a/image/upload/v1682792222/takeahike-aboutme-man-1869135_pzzeeb.webp" class="img-fluid .bg-warning" alt="Man facing away from viewer on hill ridge looking at the scene">
</section>
<div>
    <h1>Hello</h1>
</div>

{%endblock%}