{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <section> -->
    <!-- <img src=" {% static 'media/images/takeahike-aboutme-man-1869135.webp' %}" class="about-me" alt="Group of people treeking in a line over an icy landscape"> -->
    <!-- <img src="https://res.cloudinary.com/dik6gpx6a/image/upload/v1682792222/takeahike-aboutme-man-1869135_pzzeeb.webp" class="img-fluid .bg-warning" alt="Man facing away from viewer on hill ridge looking at the scene">
</section>
<div>
    <h1>Hello</h1>
</div> -->

<div class="jumbotron-aboutme jumbotron-fluid">
    <div class="container text-center p-5">
      <h1 class="display-4 align-middle">A bit more about me</h1>
      <p class="lead">My name's Ted. I'm a keen blah blah. Please register to post comments, I'd love feedback or suggestions. Or contact me if you'd like to arrange a hike. </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="blog" role="button">My Blog</a>
      </p>
    </div>
  </div>

{%endblock%}