{% extends "base.html" %}

{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center p-5">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">Read about my latest hikes</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="blog" role="button">Learn more</a>
      </p>
    </div>
  </div>

  



<!-- <section>
    <img src="https://res.cloudinary.com/dik6gpx6a/image/upload/v1682792145/take-a-hike-homepage-trekking-299000_bovxac.webp" class="img-fluid .bg-warning" alt="Group of people treeking in a line over an icy landscape">
</section> -->


{%endblock%}