{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center p-5">
      <h1 class="display-4 align-middle">Welcome!</h1>
      <p class="lead">Read about my latest hikes</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="blog" role="button">Learn more</a>
      </p>
    </div>
  </div>

  <!-- <div class="jumbotron jumbotron-fluid">
    <img src=" {% static 'media/images/take-a-hike-homepage-trekking-299000.webp' %}" class="img-fluid .bg-warning" alt="Group of people treeking in a line over an icy landscape">
    <div class="container text-center p-5">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">Read about my latest hikes</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="blog" role="button">Learn more</a>
      </p>
    </div>
  </div> -->


{%endblock%}